* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Target the React root div */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-app {
    display: flex;
    flex: 1;
    background: linear-gradient(#e8ddca, #DCD1BE);

    padding: 10px;
}

.seen-list, .ban-list, .display {
    margin: 20px;
    border-radius: 50px;

    background: linear-gradient(#A1AA9D, #66857c);
}

.seen-list {
    flex: 1;
}

.ban-list {
    flex: 1;
}

.display {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.my-plant-image {
    flex: 1;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    align-self: center;
}